*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
.navbar {
    width:100%;
    height:60px;
    padding:10px;
    background-color: #e7e0e0;
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    align-items: center;
}

nav h1{
    font-size: 15px;
}

nav  img{
    width:4.5%;
    aspect-ratio: 4/3;
    object-fit: contain; 
     /* mix-blend-mode: color-burn; */
     cursor:pointer;
}

nav  img:hover{
   /* filter:drop-shadow(0px 0px 6px 6px rgb(202, 214, 72)); */
}

main{
    width:100%;
    height:calc(100vh-60px);
    background-color: #fff;
    padding:16px;
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows:1fr 1fr;
    gap:18px;
}

main .niveau{
    width:100%;
    /* height:140px; */
    background-color:#A0EACF;
    padding:30px 10px 10px;
    display: flex;
    flex-direction: column;
    gap:40px;
    text-align: center;
    box-shadow: 0 0 2px 2px rgba(54, 53, 53, 0.3);
}

main .niveau h1{
    text-transform:uppercase;
    letter-spacing:2px;
}

main .niveau .challenges{
 width:100%;
 height:180px;
 /* background-color: green; */
 display:flex;
 flex-wrap:wrap;
 gap:12px;
 justify-content: space-evenly;
 align-items:center;
 /* padding: 12px;; */
}

main .niveau .challenges a{
    width:18%;
    height:80px;
    background-color:#82acc5;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration:none;
    color:#000;
    font-size:18px;
    /* font-weight:bold; */
    letter-spacing: 2px;
    transition:.3s ease;
    /* text-transform: uppercase; */
   }

   main .niveau .challenges a:hover{
    background-color:#40728f;

   }